<nav class='top-nav'>
  <%= link_to "Turnip the Beet", "/", id: 'site-title' %>
<div class="log-out-section">
  <% if current_user %>
    <%= link_to "Log Out", "/sessions/#{current_user.id}", id: 'log-out', class: 'nav-link', method: :delete %>
  <% end %>
  </div>
</nav>
